@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.inputBox{
    height: 100vh;
    background: #f8f8f8;
    display: grid;
    place-items: center;
}

.inputBox_field{
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding-top: 0;
    padding-bottom: 50px;
    box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
}

.inputBox_field > h1{
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
}

.inputBox_field > img{
    padding-bottom: 40px;
    padding-top: 20px;
    width: 15%;
}

.inputBox_field > form > Button {
    margin-top: 30px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
}